.earth-imagery-page {
    padding-inline: 20px;
}

.earth-imagery-page > h1 {
    margin-top: 100px;
    text-align: center;
}

.earth-imagery-page > p {
    width: 500px;
    margin-inline: auto;
    margin: 20px auto 50px auto;
}

.earth-imagery-page > img {
    width: 500px;
}
