.favourite-locations {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.favourite-locations > button {
    width: 300px;
    align-self: center;
}

.favourites-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.favourite-location {
    cursor: pointer;
    background-color: rgb(223, 223, 223);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

body.dark-theme .favourite-location {
    background-color: rgb(39, 39, 39);
}

.favourite-location:hover {
    transform: scale(1.1);
}

@media (max-width: 2230px) {
    .favourites-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1600px) {
    .favourites-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}

@media (max-width: 1200px) {
    .favourites-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}
