nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    position: sticky;
    top: 0;
    padding-inline: 30px;
    z-index: 1000;
}

nav > h1 {
    font-size: 40px;
}

nav > h1,
nav a {
    color: var(--light-theme-color);
}

.navbar-links {
    display: flex;
    gap: 40px;
    font-size: 20px;
}

.navbar-links > a:hover {
    transition: transform 0.2s linear;
    transform: scale(1.1);
}
