.apod-gallery-page {
    margin-top: 70px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.apod-gallery-page > h1 {
    margin-bottom: 20px;
    text-align: center;
}

.apod-gallery-page > p {
    margin-bottom: 60px;
    text-align: center;
}

.apod-gallery-page .date-filter {
    margin-bottom: 50px;
}
