.mars-rover-gallery {
    margin-top: 70px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mars-rover-gallery > h1 {
    margin-bottom: 20px;
    text-align: center;
}

.mars-rover-gallery > p {
    margin-bottom: 60px;
    text-align: center;
}

.mars-rover-gallery .mars-rover-photos-filter {
    margin-bottom: 50px;
}
