.dark-theme {
    background-color: var(--dark-theme-background-color);
    color: var(--light-theme-color);
}

.light-theme {
    background-color: var(--light-theme-background-color);
    color: var(--dark-theme-color);
}

.error-message {
    color: var(--nasa-red-color);
}
