.image-details {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-inline: 50px;
    gap: 100px;
}

.image-details > img {
    width: 100%;
    padding: 100px;
    object-fit: cover;
}

.image-details-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.image-details-content > h2 {
    align-self: flex-start;
    font-size: 30px;
}

.image-details-content > p {
    font-size: 25px;
    text-align: start;
    width: 100%;
}

.image-details-content > a {
    font-size: 25px;
    background-color: var(--nasa-blue-color);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

@media (max-width: 1600px) {
    .image-details-content > a,
    .image-details-content > p {
        font-size: 20px;
    }
    .image-details > img {
        padding: 50px;
    }
    .image-details {
        padding-inline: 30px;
        gap: 50px;
    }
}

@media (max-width: 1200px) {
    .image-details-content > a,
    .image-details-content > p {
        font-size: 18px;
    }
    .image-details > img {
        padding: 10px;
    }
    .image-details {
        padding-inline: 20px;
        gap: 30px;
    }
}

@media (max-width: 1000px) {
    .image-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-inline: 0px;
    }

    .image-details-content > a {
        margin-inline: auto;
    }
}
