nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nasa-blue-color);
    position: sticky;
    top: 0;
}

.navbar-links {
    display: flex;
    gap: 20px;
}
