.home-page {
    position: relative;
    padding-inline: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-page h1 {
    margin: 100px 0;
}

.home-page > p {
    font-size: 25px;
    padding-inline: 300px;
}

@media (max-width: 1600px) {
    .home-page h1 {
        margin: 50px 0;
    }
    .home-page > p {
        padding-inline: 200px;
    }
}

@media (max-width: 1200px) {
    .home-page h1 {
        margin: 25px 0;
    }
    .home-page > p {
        padding-inline: 100px;
    }
}

@media (max-width: 800px) {
    .home-page > p {
        padding-inline: 10px;
    }
}
