.not-found-page {
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-inline: 50px;
}

.not-found-page > p,
.not-found-page > button {
    font-size: 50px;
}

.not-found-page > p,
.not-found-page > button {
    animation: fade-in 3s;
}

.astronaut-image {
    position: relative;
    animation: floating linear 5s, rotation linear 35s infinite;
}

@keyframes floating {
    0% {
        top: 200px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes rotation {
    0% {
        rotate: -50deg;
    }
    100% {
        rotate: 310deg;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
